<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/css.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/in.css" />

</head>

<body>
    <!-- header start -->
    <div class="header">
        <div class="toplogobox clear">
            <div class="leftlogobox clear">
                <h1><a href=""><img src="images/logo.jpg" alt=""></a></h1>
                <div class="rightslogan" mof-id="1" mof-type="diy">
                    <p>专注于清洁球设备行业</p>
                    <p>研发、生产、销售为一体的清洁球设备生产商</p>
                </div>
            </div>
            <div class="righttelbox clear">
                <div class="telicon">
                    <img src="images/ico_toptel.png" alt="">
                </div>
                <div class="telnum">
                    <p>订购热线：</p>
                    <p>400-888-8888<m mof-id="1" mof-type="config" mof-field="tel"></m></p>
                </div>
            </div>
        </div>
        <div class="nav_xiala_xx fixedNav" id="fixedNav">
            <div class="nav_xiala">
                <ul>
                    <li class="another"><a href="#" title="">网站首页</a></li>
                    <li><a href="#">清洁球设备<m mof-id=1 mof-type=cate mof-field=name></m></a></li>
                    <li><a href="#" title="#">清洁球机器</a></li>
                    <li><a href="#" title="#">钢丝球设备</a></li>
                    <li><a href="#" title="">产品中心</a>
                        <div class="erji_xiala">
                            <div class="daohang_xiala">
                                <i><a href="#" title="">产品分类</a></i> 
                                <span><a href="#" title="">产品名称1</a></span>
                                <span><a href="#" title="">产品名称2</a></span>		
                            </div>
                            <div class="daohang_xiala">
                                <i><a href="#" title="">产品分类</a></i> 
                                <span><a href="#" title="">产品名称1</a></span>
                                <span><a href="#" title="">产品名称2</a></span>		
                            </div>
                            
                            <div class="daohang_xiala">
                                <i><a href="#" title="">产品分类</a></i> 
                                <span><a href="#" title="">产品名称1</a></span>
                                <span><a href="#" title="">产品名称2</a></span>
                                <span><a href="#" title="">产品名称3</a></span>
                                <span><a href="#" title="">产品名称4</a></span>
                                <span><a href="#" title="">产品名称5</a></span>	
                            </div>
                            
                            <div class="daohang_xiala">
                                <i><a href="#" title="">产品分类</a></i> 
                                <span><a href="#" title="">产品名称1</a></span>
                                <span><a href="#" title="">产品名称2</a></span>
                                <span><a href="#" title="">产品名称3</a></span>
                                <span><a href="#" title="">产品名称4</a></span>
                                <span><a href="#" title="">产品名称5</a></span>	
                            </div>
                            
                            <div class="daohang_xiala">
                                <i><a href="#" title="">产品分类</a></i> 
                                <span><a href="#" title="">产品名称1</a></span>
                                <span><a href="#" title="">产品名称2</a></span>
                                <span><a href="#" title="">产品名称3</a></span>
                                <span><a href="#" title="">产品名称4</a></span>
                                <span><a href="#" title="">产品名称5</a></span>	
                            </div>		
                        </div>	
                    </li>
                    <li><a href="#" title="#">荣誉资质</a>
                        <div class="erji_xiala1">
                            <div class="daohang_xiala">
                                <i><a href="#" title="">子级分类</a></i> 
                                <i><a href="#" title="">子级分类</a></i>
                                <i><a href="#" title="">子级分类</a></i>
                                <i><a href="#" title="">子级分类</a></i> 
                                <i><a href="#" title="">子级分类</a></i>
                                <i><a href="#" title="">子级分类</a></i>
                                <i><a href="#" title="">子级分类</a></i> 
                                <i><a href="#" title="">子级分类</a></i>		
                            </div>
                        </div>
                    </li>  
                    <li><a href="#" title="">成功案例</a></li>
                    <li><a href="#" title="">新闻中心</a>
                        <div class="erji_xiala1">
                            <div class="daohang_xiala">
                                <i><a href="#" title="">公司新闻</a></i> 
                                <i><a href="#" title="">行业新闻</a></i>
                                <i><a href="#" title="">常见问题</a></i>
                            </div>
                        </div>
                    </li>    
                    <li><a href="#" title="">关于我们</a>
                        <div class="erji_xiala1">
                            <div class="daohang_xiala">
                                <i><a href="#" title="">子级分类</a></i> 
                                <i><a href="#" title="">子级分类</a></i>
                                <i><a href="#" title="">子级分类</a></i>
                            </div>
                        </div>
                    </li>
                    <li><a href="#" title="">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header end -->
    <!-- banner start -->
    <div class="bannerbox">
        <div class="hd">
            <ul><li>1</li><li>2</li><li>3</li></ul>
        </div>
        <div class="bd">
            <ul>
                <li style="background-image: url('images/banner1.jpg')"></li>
                <li style="background-image: url('images/banner2.jpg')"></li>
                <li style="background-image: url('images/banner3.jpg')"></li>
            </ul>
        </div>
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
    </div>
    <!-- banner end -->
    <!-- 产品展示 start -->
    <div class="proshow" mof-type="setting">
        <div class="probox">
            <div class="proshowtitle">
                <p>Product display</p>
                <h3>产品展示</h3>
            </div>
            <div class="proclass clear">
                <ul class="proclasslist">
                    <li class="active"><a href="" title="">清洁球设备<m mof-id="1" mof-type="cate" mof-field="name"></m></a></li>
                    <li><a href="" title="">清洁球</a></li>
                    <li><a href="" title="">压轮</a></li>
                </ul>
                <div class="rightform">
                    <input class="searchtext" type="text" id="keywords" name="keywords" placeholder="请输入搜索关键词">
                    <input class="search_submit" type="submit" value="" onclick="wjdh.methods.search('#keywords');">
                </div>
            </div>
            <ul class="productlist clear">
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg?mof-id=2&mof-type=news&mof-field=imgurl" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心<m mof-id="1" mof-type="news" mof-field="title"></m></a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
                <li>
                    <a class="imgbox" href=""><img class="proimg" src="images/proimg.jpg" alt=""></a>
                    <a class="ellipsis proname" href="" title="">产品中心</a>
                    <i class="icon-add">+</i>
                </li>
            </ul>
        </div>
    </div>
    <!-- 产品展示 end -->
    <!-- 优势 start -->
    <div class="advshow" mof-id="2" mof-type="diy">
        <div class="advbox">
            <div class="advtitle">
                <h3 class="advtitletext">鑫球的四大</h3>
                <h3 class="advtitleab">核心优势</h3>
            </div>
            <div class="advmainbox">
                <div class="leftbox">
                    <div class="advfirst advcontent">
                        <div class="titlerow">
                            <div class="shape">
                                <div class="square">
                                    <span>01</span>
                                </div>
                                <div class="square-border"></div>
                            </div>
                            <p class="titletext">雄厚实力，品质无忧</p>
                        </div>
                        <img src="images/adv1.jpg?mof-id=2&mof-type=news&mof-field=imgurl" alt="">
                        <p class="intro">
                            自公司涉足清洁球设备行业以来，不断探索与努力成为综合性优质企业。清洁球设备定制-生产-销售-安装-售后一体化服务经验，成功服务多家企业。拥有雄厚的技术力量，先进的机械及专业的研发人员。
                        </p>
                    </div>
                    <div class="advthird advcontent">
                        <div class="titlerow">
                            <div class="shape">
                                <div class="square">
                                    <span>03</span>
                                </div>
                                <div class="square-border"></div>
                            </div>
                            <p class="titletext">严格管控 ，品质保障 </p>
                        </div>
                        <img src="images/adv3.jpg?mof-id=2&mof-type=news&mof-field=imgurl" alt="">
                        <p class="intro">
                            有环节实行品质过程管控：来料检验→过程检验→成品终检，加工产品严格控制精度、外观，全检测试，符合客户需求方可出货，标准产品按ISO9001体系规范抽检，外观全检出货
                        </p>
                    </div>
                </div>
                <div class="centerbox">
                    <!-- <h4>四大优势让您放心选择</h4> -->
                    <img class="hanchuan" src="images/hanchuan.jpg" alt="">
                    <p class="en">Hanchuan Xinqiu Sanitary Ware</p>
                    <p class="classbox">安全保障 - 自主研发 - 优异服务 - 省心省力</p>
                    <p class="bc">我们秉持：</p>
                    <p class="slogantext">以科技为先导，以质量求生存！</p>
                    <p class="hotline"><img src="images/ico_ystel.jpg" alt=""><span>咨询热线</span><span class="en">/ support hotline</span></p>
                    <p class="telnum">138-8637-2082</p>
                    <p class="add">公司地址：湖北省汉川市高山村</p>
                    <a href="" class="onlinebtn" title="">在线咨询</a>
                </div>
                <div class="rightbox">
                    <div class="advfirst advcontent">
                        <div class="titlerow">
                            <div class="shape">
                                <div class="square">
                                    <span>02</span>
                                </div>
                                <div class="square-border"></div>
                            </div>
                            <p class="titletext">技艺先进，效率无忧</p>
                        </div>
                        <img src="images/adv2.jpg?mof-id=2&mof-type=news&mof-field=imgurl" alt="">
                        <p class="intro">
                                全部选用钢材、板材。优异的配件供应商，清洁球设备性能稳定，经久耐用。严格、科学的管理体系，精细化生产，以技术领先行业。先进齐全的设备，安全稳定，为您节省资金并节省时间。
                        </p>
                    </div>
                    <div class="advthird advcontent">
                        <div class="titlerow">
                            <div class="shape">
                                <div class="square">
                                    <span>04</span>
                                </div>
                                <div class="square-border"></div>
                            </div>
                            <p class="titletext">优质售后，合作无忧</p>
                        </div>
                        <img src="images/adv4.jpg?mof-id=2&mof-type=news&mof-field=imgurl" alt="">
                        <p class="intro">
                                全程服务，提供技术、质量、价格三位一体客户服务。定制化合作流程，为客户提供人性化的服务。电话常天开机，快速响应，及时解决客户的烦恼。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 优势 end -->
    <!-- 案例 start -->
    <div class="case">
        <div class="casetitle">
            <div class="squarebox">
                    案例
                    赏析
            </div>
            <p>好的服务，从每一处细节入手</p>
        </div>
        <ul class="caselist clear">
            <li class="casecontent">
                <a class="caseimg" href=""><img src="images/case1.jpg" alt=""></a>
                <a class="ellipsis casename" href="" title="">工程案例</a>
            </li>
            <!-- 这个是中间那个大的 -->
            <li class="casecontent">
                <a class="caseimg" href=""><img src="images/case2.jpg" alt=""></a>
                <a class="ellipsis casename" href="" title="">工程案例</a>
            </li>
            <!-- 这个是中间那个大的 -->
            <li class="casecontent">
                <a class="caseimg" href=""><img src="images/case1.jpg" alt=""></a>
                <a class="ellipsis casename" href="" title="">工程案例</a>
            </li>
            <li class="casecontent">
                <a class="caseimg" href=""><img src="images/case1.jpg" alt=""></a>
                <a class="ellipsis casename" href="" title="">工程案例</a>
            </li>
            <li class="casecontent">
                <a class="caseimg" href=""><img src="images/case1.jpg" alt=""></a>
                <a class="ellipsis casename" href="" title="">工程案例</a>
            </li>
        </ul>
    </div>
    <!-- 案例 end -->
    <!-- 走进鑫球洁具 start -->
    <div class="aboutus">
        <div class="aboutcontent">
            <div class="abouttitle">
                <h3>走进鑫球洁具</h3>
                <p>以市场为导向，以质量求生存，以信誉求发展，以效益为目标，以服务为宗旨</p>
                <img src="images/about_zs.png" alt="">
            </div>
            <div class="aboutmain">
                <img src="images/about_img.jpg" alt="" class="aboutimg">
                <h4>汉川市鑫球洁具发展有限公司 <m mof-id="0" mof-type="config" mof-field="companyname"></m></h4>
                <p>汉川市鑫球洁具发展有限公司 创建于2017年，坐落于经济发达，交通便利的物流之都--湖北。是一家集设计研发.生产销售于一体的清洁球机械设备 权威企业。本厂有着多位专业的技术人员从基层做起，以独特的技术创新，不断改进，率先研制出新一代全自动数控多功能清洁球机器 。曾多次被同行业效仿，节能环保。性能稳定。 我厂清洁球机械具有能耗少，产量高，性能稳定操作简单等几大独特优点。在短短的十余年时间里，便占据了较大份额的市场，在市场上享有良好的口碑，是清洁球机械行业的后起之秀
                    <m mof-id="20" mof-type="cate" mof-field="des"></m>
                </p>
            </div>
        </div>
    </div>
    <!-- 企业相册 and 荣誉资质 start -->
    <div class="aboutpicbox clear">
        <div class="qypic">
            <div class="qytitle">
                企业相册
            </div>
            <div class="scrollqypic">
                <div class="hd">
                    <a class="prev">
                        <div class="arrow arrow-prev">
                            &lt;
                        </div>
                    </a>
                    <a class="next">
                        <div class="arrow arrow-next">
                            &gt;
                        </div>
                    </a>
                </div>
                <div class="bd">
                    <ul class="picList">
                        <li>
                            <a href="">
                                <img src="images/aboutpic.jpg" alt="">
                            </a>
                            <a href="" class="ellipsis" title="">企业相册</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/aboutpic.jpg" alt="">
                            </a>
                            <a href="" class="ellipsis" title="">企业相册</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/aboutpic.jpg" alt="">
                            </a>
                            <a href="" class="ellipsis" title="">企业相册</a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/aboutpic.jpg" alt="">
                            </a>
                            <a href="" class="ellipsis" title="">企业相册</a>
                        </li>
                    </ul>
                </div>
            
            </div>
        </div>
        <div class="rypic">
            <div class="qytitle">
                荣誉资质
            </div>
            <img src="images/img_ry.jpg" alt="" class="ry">
            <a href="" class="btn-ry" title="">荣誉资质</a>
        </div>
    </div>
    <!-- 企业相册 and 荣誉资质 end -->
    <!-- 走进鑫球洁具 end -->
    <!-- 新闻资讯 start -->
    <div class="news">
        <div class="newstitle clear">
            <div class="lefttext">
                <p>新闻资讯<span>/ news</span></p>
            </div>
            <ul class="rightclass">
                <li class="active"><a href="" title="">公司新闻</a></li>
                <li><a href="" title="">行业新闻</a></li>
                <li><a href="" title="">常见问题</a></li>
            </ul>
        </div>
        <div class="allnews" style="display: block;">
            <ul class="recommendnews">
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
            </ul>
            <ul class="newslist clear">
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
            </ul>
        </div>
        <div class="allnews">
            <ul class="recommendnews">
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">2清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
            </ul>
            <ul class="newslist clear">
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
            </ul>
        </div>
        <div class="allnews">
            <ul class="recommendnews">
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">3清洁球机械_如何选购清洁球机器<m mof-id="100" mof-type="news" mof-field="title"></m></a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...<m mof-id="100" mof-type="news" mof-field="des"></m></p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
                <li>
                    <a href=""><img src="images/newsimg.jpg" alt=""></a>
                    <p class="titlebox clear">
                        <a href="" class="ellipsis" title="">清洁球机械_如何选购清洁球机器</a>
                        <span>2019-02-21</span>
                    </p>
                    <p class="desc">最重要是，清洁球机可以看到各成分的装置的制造过程中，是否可以参观设备生产制造车间，是否是最先进的全自动气压式清洁球机...</p>
                </li>
            </ul>
            <ul class="newslist clear">
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
                <li>
                    <a href="" class="ellipsis">清洁球机械_如何选购清洁球机器</a>
                    <span>2019-02-21</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- 新闻资讯 end -->
    <!-- footer start -->
    <div class="footer">
        <div class="footercontent clear">
            <div class="leftinfo">
                <p><img src="images/ico_ft_user.jpg" alt="">联系人 : 肖总</p>
                <p><img src="images/ico_ft_tel.jpg" alt="">联系电话 : 138-8637-2082   </p>
                <p><img src="images/ico_ft_phone.jpg" alt="">联系电话 : 138-8637-2082   </p>
                <p><img src="images/ico_ft_email.jpg" alt="">邮箱：2430699057@qq.com</p>
                <p><img src="images/ico_ft_site.jpg" alt="">公司地址 : 湖北省汉川市高山村</p>
            </div>
            <div class="centerinfo">
                <p><img src="images/ico_ft_icp.jpg" alt="">备案号：暂无 </p>
                <p><img src="images/ico_ft_webmap.jpg" alt="">网站地图 RSS XML</p>
                <p><img src="images/ico_ft_copyright.jpg" alt="">Copyright ©：汉川市鑫球洁具发展有限公司 </p>
                <p><img src="images/ico_ft_jszc.jpg" alt=""> 技术支持：动力无限</p>
                <p><img src="images/ico_ft_wjdh.jpg" alt=""><a href=""><img src="images/wjdh.png" alt=""></a><a href=""><img src="images/cnzz.png" alt=""></a></p>
            </div>
            <div class="messageform">
                <textarea class="xqtext" name="" id="" placeholder="请输入您的需求"></textarea>
                <div class="textbox">
                    <div class="inputbox">
                        <input class="user" type="text" placeholder="您的姓名">
                        <input class="usertel" type="text" placeholder="您的电话">
                    </div>
                    <div class="submitbox">
                        <input class="submitbtn" type="submit" value="提交">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="friendlink">
        <ul class="friendlist clear">
            <li class="first">
                友情链接 <span>>></span>
            </li>
            <li><a href="" title="">友情链接</a></li>
            <li><a href="" title="">友情链接</a></li>
            <li><a href="" title="">友情链接</a></li>
            <li><a href="" title="">友情链接</a></li>
        </ul>
    </div>
    <!-- footer end -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.3.js"></script>
    <script src="js/index.js"></script>
</body>

</html>
